.bg
{
  margin: 0 auto;
  width: 400px;
  height: 300px;
  position: relative;
}

.ti-carousel-next,
.ti-carousel-prev
{
    color: transparent;
    height: 40px;
    width: 40px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    z-index: 40;
    opacity: .8;
    cursor: pointer;
}
.ti-carousel-next:before,
.ti-carousel-prev:before
{
  content: '';
  position: absolute;
  left: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(-135deg);
}
.ti-carousel-next
{
    right: 0;
}

.ti-carousel-next:before{
  transform: rotate(45deg);
  left: 5px;
}

.ti-carousel-pointers
{
  position: absolute;
  bottom: 10%;
  text-align: center;
  z-index: 40;
  width: 100%;
}
.ti-carousel-pointers > a
{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 0 1px;

  border-radius: 10px;
  overflow: hidden;
  color: transparent;
}

.ti-carousel-pointers > a:hover,
.ti-carousel-pointers > a.actived
{
  background-color: #fff;
}

ul
{
  position: relative;
  width: 100%;
  height: 100%;
}

li
{
  list-style: none;
  transition: all .7s ease-in-out;
  position: absolute;
  left: 5%;
  bottom: 0%;
  height: 90%;
  z-index: 0;
}

li img
{
  height: 100%;
}

.ti-carousel-li-last
{
  left: -10%;
  z-index: 1;
  height: 90%;
}

.ti-carousel-li1
{
  left: 20%;
  z-index: 1;
  height: 90%;
}

.ti-carousel-li0
{
  left: 0;
  z-index: 2;
  height: 100%;
}